prow_configurations:
  owner: openshift
  repo: release
  files:
    - ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-periodics.yaml

assignees:
  data:
    - job_name: e2e-vsphere-assisted
      startswith: true
      users:
        - agentil

    - jobs:
        - triage-status-report
        - e2e-metal-assisted-day2-arm-workers-periodic
      users:
        - agentil

    - job_name: subsystem
      startswith: true
      users:
        - edge-support

    - jobs:
        - e2e-metal-assisted-onprem-periodic
        - e2e-metal-assisted-periodic
        - e2e-metal-assisted-4-15-periodic
        - e2e-metal-assisted-4-14-periodic
        - e2e-metal-assisted-4-13-periodic
        - e2e-metal-assisted-4-12-periodic
      users:
        - edge-support

    - jobs:
        - e2e-metal-assisted-metallb-periodic
        - e2e-metal-assisted-mce-periodic
      users:
        - dmanor

    - job_name: e2e-nutanix-assisted
      startswith: true
      users:
        - eifrach

    - job_name: e2e-oci-assisted
      startswith: true
      users:
        - agentil

    - job_name: e2e-ai-operator-ztp-3masters-periodic
      users:
        - oamizur

    - jobs:
        - e2e-ai-operator-ztp-converged-periodic
        - e2e-ai-operator-ztp-remove-node-periodic
      users:
        - ncarboni

    - job_name: e2e-metal-assisted-upgrade-agent-periodic
      users:
        - jhernand

    - jobs:
        - e2e-metal-assisted-capi-periodic
        - e2e-ai-operator-ztp-capi-periodic
        - e2e-metal-assisted-ipxe-periodic
        - e2e-ai-operator-ztp-hypershift-zero-nodes-periodic
      users:
        - cchun

    - jobs:
        - e2e-metal-assisted-static-ip-suite-periodic
        - e2e-metal-assisted-ipv6-periodic
        - e2e-ai-operator-ztp-periodic
        - e2e-metal-assisted-kube-api-net-suite-periodic

      users:
        - oamizur

    - jobs:
        - e2e-metal-assisted-day2-single-node-periodic
        - e2e-metal-assisted-single-node-periodic
        - e2e-ai-operator-ztp-ipv4v6-sno-periodic
        - e2e-metal-assisted-none-periodic
      users:
        - otuchfel

    - jobs:
        - e2e-metal-assisted-odf-periodic
        - e2e-metal-assisted-ocs-periodic
        - e2e-metal-assisted-lvm-periodic
        - e2e-metal-assisted-cnv-periodic
      users:
        - dmanor

    - jobs:
        - e2e-ai-operator-ztp-ipv4v6-3masters-periodic
        - e2e-metal-assisted-ipv4v6-periodic
      users:
        - oamizur

    - jobs:
        - e2e-ai-operator-ztp-disconnected-periodic
        - e2e-metal-assisted-day2-periodic
      users:
        - derez

    - jobs:
        - e2e-ai-operator-ztp-sno-day2-workers-late-binding-periodic
        - e2e-ai-operator-ztp-sno-day2-workers-periodic
        - e2e-metal-assisted-kube-api-late-binding-single-node-periodic
      users:
        - pmaidmen


actions:
  - description: "Setup Packet server failure"
    emoji: equinix
    text: ""
    step_name: "baremetalds-packet-setup",
    ignore_others: true

  - description: "Conformance tests"
    emoji: conformance-test-failed
    text: "```Conformance tests failure```"
    step_name: "assisted-baremetal-test"
    ignore_others: true

  - description: "OCP CI Cluster pool claim timeout"
    emoji: ignore
    text: "Timed-out while waiting to get a cluster from the cluster pool, can be ignored"
    contains: "failed to wait for the created cluster claim to become ready: timed out waiting for the condition"
    file_path: "build-log.txt"

  - description: "Ignore old OCP versions"
    emoji: ignore
    text: "This is testing Assisted support for a very old OCP version, don't waste too much time investigating this. Look only for superficial issues. Especially if the job is only flaky and not completely broken"
    job_name: periodic-ci-openshift-release-master-nightly-4.6-e2e-metal-assisted

  - description: "All mirrors were tried"
    text: "```Errors during downloading metadata for repository 'appstream':\nAll mirrors were tried```"
    contains: "All mirrors were tried"
    file_path: "build-log.txt"

  - description: "Timeout of 360 seconds expired waiting for Waiting for Ips"
    text: "```Timeout of 360 seconds expired waiting for Waiting for Ips```"
    contains: "Timeout of 360 seconds expired waiting for Waiting for Ips"
    "file_path": "artifacts/{job_name}/assisted-common-gather/artifacts/reports/*"

  - description: "Timeout of 3600 seconds expired waiting for Nodes to be in of the statuses ['installed']"
    text: "```waiting.exceptions.TimeoutExpired: Timeout of 3600 seconds expired waiting for Nodes to be in of the statuses ['installed']```"
    contains: "waiting.exceptions.TimeoutExpired: Timeout of 3600 seconds expired waiting for Nodes to be in of the statuses ['installed']"
    "file_path": "artifacts/{job_name}/assisted-common-gather/artifacts/reports/*"

  - description: "Repositories snapshot failed"
    text: "We currently know of two possible issues for that:\n 1. image-mirroring failed\n 2. commit just got merged and image-mirroring not yet completed"
    job_name: periodic-ci-openshift-assisted-assisted-installer-deployment-master-snapshot-repos
    emoji: joy-division

  - description: "e2e-metal-assisted-prod-periodic"
    emoji: alert
    job_name: e2e-metal-assisted-prod-periodic

  - description: "e2e-metal-assisted-day2-single-node"
    job_name: e2e-metal-assisted-day2-single-node
    emoji: ignore
    text: "https://issues.redhat.com/browse/MGMT-11886 known terraform directory bug"

  - description: "Process did not finish before 4h0m0s timeout"
    text: "```Process did not finish before 4h0m0s timeout```"
    contains: "Process did not finish before 4h0m0s timeout"
    file_path: "build-log.txt"

  - description: "dev-scripts failed to install the hub"
    text: "The hub cluster that was supposed to be installed by the dev-scripts steps did not finish installation, this is not an issue with the assisted-installer and should probably be ignored"
    contains: "baremetalds-devscripts-setup failed after"
    file_path: "build-log.txt"
    emoji: baremetal

  - description: "UI image pull issue"
    text: "UI failed to deploy, we have seen a lot of this recently"
    emoji: broken-image
    contains: " deploy_ui] Error 1"
    file_path: "build-log.txt"

  - description: "CRI-O ipv6 issue"
    text: "This job is broken due to https://issues.redhat.com/browse/MGMT-11633"
    emoji: crio
    job_name: periodic-ci-openshift-assisted-test-infra-release-ocm-2.6-e2e-metal-assisted-kube-api-net-suite-periodic

  - description: "OLM operators failure"
    text: "```waiting.exceptions.TimeoutExpired: Timeout of 3600 seconds expired waiting for Monitored ['olm'] operators to be in of the statuses ['available', 'failed']```"
    contains: "waiting.exceptions.TimeoutExpired: Timeout of 3600 seconds expired waiting for Monitored"
    "file_path": "artifacts/{job_name}/assisted-common-gather/artifacts/reports/*"

  - description: "MGMT-11886"
    text: "https://issues.redhat.com/browse/MGMT-11886 known issue"
    contains: "<string>: UnsyncedAgents"
    file_path: "build-log.txt"
    job_name: periodic-ci-openshift-assisted-service-master-edge-subsystem-kubeapi-aws-periodic
